body{
  background-color: purple;
  height: 100vh;
}

.card{
  width: 100%; 
  max-width: 400px;
}

.enviar{
  background-color: purple;
  color: white;
}

.enviar:hover{
  background-color: rgb(85, 1, 85);
  color: white;
}

